/* =========================================================
   1. Configurações e Temas
   ========================================================= */

@import "tailwindcss";
/* Ativa a detecção de tema escuro com base na classe ".dark" no elemento <html> */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Definição de cores personalizadas */
	--color-tan-hide-50: #fff7ed;
	--color-tan-hide-100: #ffedd4;
	--color-tan-hide-200: #ffd7a8;
	--color-tan-hide-300: #ffbb71;
	--color-tan-hide-400: #ffa051;
	--color-tan-hide-500: #fe7311;
	--color-tan-hide-600: #ef5807;
	--color-tan-hide-700: #c64008;
	--color-tan-hide-800: #9d340f;
	--color-tan-hide-900: #7e2c10;
	--color-tan-hide-950: #441306;

	--color-shark-50: #f5f6f6;
	--color-shark-100: #e5e7e8;
	--color-shark-200: #cdd0d4;
	--color-shark-300: #abafb5;
	--color-shark-400: #808790;
	--color-shark-500: #656b75;
	--color-shark-600: #575b63;
	--color-shark-700: #4a4d54;
	--color-shark-800: #414349;
	--color-shark-900: #3a3c3f;
	--color-shark-950: #202124;

	--color-carmine-50: #ffeef2;
	--color-carmine-100: #ffdae2;
	--color-carmine-200: #ffbbc9;
	--color-carmine-300: #ff8ba3;
	--color-carmine-400: #ff496f;
	--color-carmine-500: #ff1143;
	--color-carmine-600: #ff0036;
	--color-carmine-700: #e70031;
	--color-carmine-800: #be0028;
	--color-carmine-900: #a10022;
	--color-carmine-950: #560012;

	--color-puerto-rico-50: #eefffb;
	--color-puerto-rico-100: #c6fff4;
	--color-puerto-rico-200: #8effeb;
	--color-puerto-rico-300: #4dfbdf;
	--color-puerto-rico-400: #19e8cd;
	--color-puerto-rico-500: #00b9a4;
	--color-puerto-rico-600: #00a495;
	--color-puerto-rico-700: #028379;
	--color-puerto-rico-800: #086761;
	--color-puerto-rico-900: #0c5550;
	--color-puerto-rico-950: #003433;

	--color-azure-radiance-50: #f0f8fe;
	--color-azure-radiance-100: #ddeefc;
	--color-azure-radiance-200: #c3e3fa;
	--color-azure-radiance-300: #9ad2f6;
	--color-azure-radiance-400: #6ab9f0;
	--color-azure-radiance-500: #489ce9;
	--color-azure-radiance-600: #297bdc;
	--color-azure-radiance-700: #2a6bcb;
	--color-azure-radiance-800: #2857a5;
	--color-azure-radiance-900: #254c83;
	--color-azure-radiance-950: #1b2f50;
}

/* =========================================================
   2. Layout e Estrutura Global
   ========================================================= */

body {
	@apply bg-white dark:bg-shark-950 text-shark-800 dark:text-white;
}

main {
	@apply flex flex-col items-center;
}

.content {
	max-width: 1920px;
	@apply w-full;
}

section {
	@apply w-full flex flex-col items-center justify-center p-4 md:p-10;
}

/* =========================================================
   3. Componentes Principais
   ========================================================= */

/* --- Header e Navegação --- */
.main-header {
	@apply sticky top-0 z-40 flex justify-center items-center bg-white/90 dark:bg-shark-950/90 backdrop-blur-xs px-4 md:px-10 py-4;
}
.header-content {
	@apply flex flex-row justify-between items-center;
}
.header-logo-container {
	@apply mr-auto;
}
.header-logo-image {
	@apply h-8 text-shark-900 dark:text-white;
}
.main-nav {
	@apply hidden md:block;
}
.main-nav-list {
	@apply flex space-x-4;
}
.main-nav-list li a {
	@apply px-1 py-0.5 rounded-md;
}
.header-buttons-container {
	@apply flex flex-row gap-0.5 ml-4;
	@apply relative; /* Adiciona posicionamento relativo para o modal */
}
#open-menu {
	@apply md:hidden;
}
.mobile-nav-title {
	@apply mb-10;
}
.absolute-close-button {
	@apply absolute top-4 right-4;
}
.menu-overlay {
	@apply bg-black/40 w-full h-screen fixed top-0 z-50 transition-opacity duration-300;
	@apply opacity-0 pointer-events-none;
}
.menu-overlay.menu-overlay-active {
	@apply opacity-100 pointer-events-auto;
}
.mobile-nav {
	@apply flex-1 max-w-xs bg-white dark:bg-shark-950 flex flex-col p-6 h-full transition-transform duration-300;
	@apply -translate-x-full; /* Estado inicial (fechado) */
}
.mobile-nav.mobile-nav-open {
	@apply translate-x-0; /* Estado ativo (aberto) */
}
.mobile-nav-list {
	@apply flex flex-col gap-4;
}
.mobile-nav-list li a {
	@apply text-lg text-shark-800 dark:text-shark-100 focus:text-shark-950 dark:hover:text-white focus:font-semibold transition-colors duration-200 mb-6;
}

/* --- Modal de Idioma (Dropdown) --- */
.language-modal-overlay {
	@apply absolute top-full right-0 mt-4 z-50 flex flex-col items-end justify-start transition-opacity duration-300;
	@apply opacity-0 pointer-events-none; /* Estado inicial (oculto) */
}
.language-modal-overlay.active {
	@apply opacity-100 pointer-events-auto; /* Estado ativo (visível) */
}
.language-modal {
	@apply bg-white dark:bg-shark-950 rounded-2xl p-2 shadow-lg transform transition-transform duration-300 scale-95;
	min-width: 240px; /* Largura mínima para o modal */
	@apply origin-top-right; /* Altera a origem da transformação para o canto superior direito */
}
.language-modal-overlay.active .language-modal {
	@apply scale-100;
}
.language-modal-title {
	@apply text-xl font-semibold mb-4;
}
.language-option {
	@apply flex items-center gap-4 py-2 px-4 rounded-lg hover:bg-shark-50 dark:hover:bg-shark-800 w-full transition-colors cursor-pointer;
}
.language-flag {
	@apply w-8 h-6 rounded-md object-cover;
}
.language-option.active {
	@apply bg-shark-200 dark:bg-shark-700;
}

/* --- Seção Hero --- */
.hero-section {
	height: calc(100vh - 72px);
	max-height: 100vh;
	@apply relative overflow-hidden py-0;
}
@media screen and (min-width: 1440px) {
	.hero-section {
		max-height: 800px;
	}
}
.hero-container {
	@apply flex flex-col justify-between h-full;
}
.hero-slides-container {
	@apply relative flex-1;
}
.hero-slide {
	@apply hidden transition-opacity duration-500 ease-in-out absolute w-full h-full;
}
.hero-slide.active {
	@apply flex opacity-100 flex-col justify-center items-center;
}
.hero-slide:not(.active) {
	@apply opacity-0;
}
.hero-content {
	@apply flex flex-col items-center justify-center h-full;
}
.hero-content .category-chip {
	@apply mx-auto mb-10;
}
.hero-heading {
	@apply rounded-b-lg font-medium bg-white/90 dark:bg-shark-950/90 backdrop-blur-xs p-4;
}
.hero-paragraph {
	@apply text-lg p-4 pt-0 rounded-b-lg bg-white/90 dark:bg-shark-950/90 backdrop-blur-xs;
}
.hero-cta-container {
	@apply flex flex-col md:flex-row md:justify-center gap-4 mt-6;
}
.hero-tabs-list-container {
	@apply bg-white/90 dark:bg-shark-950/90 backdrop-blur-xs;
}
.hero-tabs-list {
	@apply flex flex-row justify-center text-sm;
}
.hero-tabs-list li {
	@apply flex-1 p-1 md:p-4 pt-5 pb-6 border-t-4 border-t-transparent cursor-pointer text-center transition duration-200 text-sm md:text-lg;
}
.hero-tabs-list li:hover {
	@apply bg-shark-50 text-shark-950 dark:bg-shark-950 dark:text-shark-50 font-semibold;
}
.hero-tabs-list li#tab-1.active {
	@apply border-t-carmine-600 dark:border-t-carmine-300 font-semibold;
}
.hero-tabs-list li#tab-2.active {
	@apply border-t-azure-radiance-600 dark:border-t-azure-radiance-300 font-semibold;
}
.hero-tabs-list li#tab-3.active {
	@apply border-t-puerto-rico-600 dark:border-t-puerto-rico-300 font-semibold;
}
.hero-progress-bar-container {
	@apply h-0.5 w-full bg-transparent overflow-hidden;
}
.progress-fill {
	@apply h-full w-0;
	transition: width linear;
}
.progress-fill-petroleo {
	@apply bg-carmine-600 dark:bg-carmine-300;
}
.progress-fill-ciberseguranca {
	@apply bg-azure-radiance-600 dark:bg-azure-radiance-300;
}
.progress-fill-motores {
	@apply bg-puerto-rico-600 dark:bg-puerto-rico-300;
}
.hero-image-container {
	@apply absolute bottom-9 sm:bottom-0 left-1/2 -translate-x-1/2 w-full max-w-[800px] h-auto -z-10;
	mask-image: url("./media/mask.svg");
	-webkit-mask-image: url("./media/mask.svg");
	mask-position: center;
	-webkit-mask-position: center;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}
.hero-image-wrapper {
	@apply relative w-full pb-[56.25%] overflow-hidden;
}
.hero-masked-image {
	@apply absolute top-0 left-0 w-full h-full;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* --- Seção de Parceiros --- */
.partners-section {
	@apply bg-shark-50 dark:bg-shark-800;
}
.partners-content {
	@apply flex flex-col md:flex-row gap-6;
}
.partners-text {
	@apply text-lg font-semibold md:w-1/3;
}
.partners-logo-container {
	@apply flex flex-row gap-4 w-2/3 justify-center items-center;
}

/* --- Seção de Soluções --- */
.solution {
	@apply flex flex-col md:flex-row gap-4 md:gap-6 items-start mb-12;
}
#solutions-section > :nth-child(even):not(:first-child) {
	@apply md:flex-row-reverse;
}
.solution-content {
	@apply w-full md:w-1/2 flex flex-col gap-4;
}
.solution-content p {
	@apply lg:w-1/2;
}
.solution-image {
	@apply w-full md:w-1/2 rounded-lg object-cover;
}
.solution-button {
	@apply mt-4 rounded-full bg-shark-800 dark:bg-tan-hide-400 text-white dark:text-tan-hide-950 px-6 pr-2 py-2 flex items-center hover:bg-shark-950 dark:hover:bg-tan-hide-300 hover:-translate-y-0.5 hover:shadow-lg transition self-start;
}
.solution-button-icon-container {
	@apply inline-flex w-8 h-8 bg-white dark:bg-shark-950 rounded-full items-center justify-center ml-2 ml-4;
}
.solution-icon-arrow {
	@apply text-shark-800 dark:text-white;
}
.h3-underscore {
	@apply border-t-4 border-tan-hide-600 dark:border-tan-hide-300 w-1/4 mb-6;
}

/* --- Seção de Depoimentos --- */
.testimonial-carousel-container {
	@apply flex gap-6 overflow-x-auto snap-x snap-mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.testimonial-carousel-container .testimonial {
	@apply flex-none w-full md:w-1/2 lg:w-1/3 snap-center p-6 bg-shark-50 dark:bg-shark-800 rounded-xl;
}
.testimonial-content {
	@apply flex flex-col items-start;
}
.testimonial-rating {
	@apply flex text-tan-hide-500 dark:text-tan-hide-300 space-x-1 mb-2;
}
.testimonial-rating span {
	@apply text-lg [font-variation-settings:'FILL'_1,_'wght'_400];
}
.testimonial-first-quote {
	@apply text-xl italic font-semibold mb-2;
}
.testimonial-author {
	@apply mt-4 font-semibold text-shark-800 dark:text-shark-100;
}
.testimonial-controls {
	@apply flex justify-center gap-4 mt-10;
}
.testimonial-control-button {
	@apply h-10 w-10;
}

/* --- Formulário de Contato --- */
.form-container {
	@apply flex flex-col items-center justify-center p-4 md:p-8 bg-shark-50 dark:bg-shark-900 rounded-2xl md:rounded-4xl;
}
#contact-form {
	@apply w-full;
}
.contact-form-grid {
	@apply flex flex-col gap-6 mb-6 md:grid md:grid-cols-2 md:gap-4 md:mb-4;
}
.form-group {
	@apply flex flex-col mb-2;
}
.form-group.md-col-span-1 {
	@apply md:col-span-1;
}
.form-group label {
	@apply text-gray-700 dark:text-gray-200 font-medium mb-1;
}
.form-group input,
.form-group select,
.form-group textarea {
	@apply w-full p-3 focus:bg-white dark:focus:bg-shark-950 border border-shark-600 dark:border-shark-200 rounded-md focus:ring-2 focus:ring-tan-hide-500 focus:outline-none;
}
.helper-text {
	@apply text-rose-600 dark:text-rose-300 text-sm mt-1 -mb-4;
}
.invalid input,
.invalid select,
.invalid textarea {
	@apply border-rose-600 dark:text-rose-300 ring-1 ring-rose-600 dark:ring-rose-300;
}
.valid input,
.valid select,
.valid textarea {
	@apply bg-white dark:bg-shark-950 border-emerald-600 dark:border-emerald-300 ring-1 ring-emerald-600 dark:ring-emerald-300;
}
.form-footer {
	@apply flex items-center justify-between mt-8;
}
.form-privacy-text {
	@apply text-sm text-gray-600 dark:text-gray-300 mr-4;
}

/* --- Rodapé (Footer) --- */
footer {
	@apply mt-10 px-4 md:px-10 flex flex-col items-center justify-center text-white;
}
.footer-content-wrapper {
	@apply px-4 md:px-10 pt-4 md:pt-8 rounded-t-2xl md:rounded-t-4xl bg-shark-900;
}
.footer-logo-container {
	@apply flex justify-center mb-20;
}
.footer-grid {
	@apply sm:grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-4 lg:gap-6;
}

.footer-logo-signature {
	@apply mt-20;
}
.footer-description {
	@apply text-center sm:text-left;
}
.footer-divider {
	@apply border-t-2 border-shark-700;
}
.footer-copyright {
	@apply text-center text-sm text-shark-50 my-6;
}
.footer-section {
	@apply sm:col-span-1 mb-10;
}
.footer-section img {
	@apply mx-auto md:mx-0 mb-4;
}
.footer-section h6 {
	@apply text-white text-lg font-semibold mb-2;
}
.footer-section-divider {
	@apply border-t-2 border-tan-hide-300 mb-4 w-10;
}
.footer-section span {
	@apply text-shark-100 font-semibold min-w-[160px] sm:min-w-[120px] inline-block;
}
.footer-section p {
	@apply text-shark-200 text-base mb-1;
}

/* =========================================================
   4. Estilos Utilitários
   ========================================================= */

/* --- Tipografia e Títulos --- */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium text-shark-950 dark:text-white leading-tight tracking-tight;
}
h1 {
	@apply text-5xl;
}
h2 {
	@apply text-4xl;
}
h3 {
	@apply text-3xl;
}
h4 {
	@apply text-2xl;
}
h5 {
	@apply text-xl;
}
h6 {
	@apply text-sm md:text-base lg:text-lg;
}
p {
	@apply text-base md:text-lg lg:text-lg leading-relaxed;
}
.title-and-subtitle {
	@apply flex flex-col md:flex-row md:justify-between md:items-end text-left py-10 pt-10 gap-6;
}
.title-and-subtitle h2 {
	@apply text-4xl font-medium md:w-2/3;
}
.title-and-subtitle p {
	@apply text-base md:text-lg lg:text-xl md:w-1/3;
}

/* --- Chips de Categoria --- */
.chip {
	font-family: "Roboto Mono", monospace;
	text-transform: uppercase;
	@apply inline px-3 py-1 rounded-full text-xs font-medium flex-shrink-0 bg-shark-100 dark:bg-shark-800;
}
.category-chip {
	font-family: "Roboto Mono", monospace;
	text-transform: uppercase;
	@apply px-4 py-2 rounded-md font-medium self-start;
}
.category-chip-petroleo {
	@apply bg-carmine-50 text-carmine-800 dark:bg-carmine-900 dark:text-carmine-50;
}
.category-chip-ciberseguranca {
	@apply bg-azure-radiance-50 text-azure-radiance-800 dark:bg-azure-radiance-900 dark:text-azure-radiance-50;
}
.category-chip-motores {
	@apply bg-puerto-rico-50 text-puerto-rico-800 dark:bg-puerto-rico-900 dark:text-puerto-rico-50;
}

/* --- Botões e Ícones --- */
.primary {
	@apply bg-shark-800 dark:bg-tan-hide-500 text-white rounded-full font-semibold py-3 px-6 hover:bg-shark-950 dark:hover:bg-tan-hide-600 transition-colors duration-200;
}
.cta-primary {
	@apply bg-shark-800 dark:bg-tan-hide-500 text-white font-semibold py-3 px-6 rounded-4xl hover:bg-shark-950 dark:hover:bg-tan-hide-600 hover:-translate-y-0.5 hover:shadow-lg transition duration-200 w-full md:w-auto;
}
.cta-secondary {
	@apply bg-white dark:bg-shark-900 text-shark-900 dark:text-white font-semibold py-3 px-6 rounded-4xl border border-shark-100 dark:border-shark-600 hover:-translate-y-0.5 hover:shadow-lg transition duration-200 w-full md:w-auto;
}
.icon-button {
	@apply text-shark-800 dark:text-shark-100 p-2 rounded-full transition-colors duration-200 hover:text-shark-950 dark:hover:text-white hover:bg-shark-100 dark:hover:bg-shark-800 flex items-center justify-center active:bg-shark-200 dark:active:bg-shark-700;
}
.icon-button:hover,
.icon-button:active span {
	@apply [font-variation-settings:'FILL'_1,_'wght'_400];
}
.icon-filled {
	@apply [font-variation-settings:'FILL'_1,_'wght'_400];
}
.theme-icon-animation {
	transition: transform 0.1s ease-in-out;
}
.theme-icon-animation.shrink {
	transform: scale(0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
